@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");
@font-face {
  font-family: Chinese dragon;
  src: url("../assets/ChineseDragon.ttf");
}
/*Navbar*/
.Navbar {
  display: flex;
  padding: 1rem 4rem;
  /* background-color: #0F1333; */
  padding-bottom: 0rem;
}
.navBox {
  box-shadow: 0px 4px 4px rgba(255, 211, 126, 0.14);
}
.logo img {
  width: 8rem;
}
.nav_routes ul {
  display: flex;
  list-style: none;
  margin: auto;
  font-family: Cool;
}
a {
  text-decoration: none;
  color: white;
}
.nav_routes {
  text-align: center;
}
.nav_routes ul li {
  padding: 1rem 2rem;
  color: #ffffff;
  cursor: pointer;
}
.nav_routes img {
  position: relative;
  top: -1rem;
  left: 0.5rem;
  height: 0.6rem;
}
.Landing {
  background: url("../assets/HighBanner.png");
  background-size: 100vw 100vh;
  height: 100vh;
  /* width: 100vw; */
  background-repeat: no-repeat;
}
/* .nav_routes span{
    color: #FFD37E;
    position: relative;
    top: -3.5rem;
    font-size: 14px;
    left: -0.5rem;
    font-family: CoolCond;
} */

.Weapon li:hover {
  cursor: not-allowed;
}
.Land li:hover {
  cursor: not-allowed;
}
.SoonMarket {
  color: #ffd37e;
  font-family: CoolCond;
  font-size: 14px;
  /* position: absolute;
  left: auto;
  right: 38rem;
  top: 0.8rem; */
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 3.5rem;
}
.SoonStake {
  color: #ffd37e;
  /* position: relative;
  top: -3.5rem; */
  font-size: 14px;
  /* left: 1rem; */
  font-family: CoolCond;
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 2rem;
}
.SoonWeapon {
  color: #ffd37e;
  position: relative;
  top: -3.5rem;
  font-size: 14px;
  left: 0.5rem;
  font-family: CoolCond;
}
.SoonLand {
  color: #ffd37e;
  position: relative;
  top: -3.5rem;
  font-size: 14px;
  left: 0.5rem;
  font-family: CoolCond;
}
.nav_routes div {
  margin-bottom: 0;
}
.hamburger img{
  width: 1rem !important;
  height: 0.8rem !important;
  margin-top: 1.5rem !important;
  margin-right: -5.5rem;
  margin-left: 2rem;
}
.hamburger{
  display: none;
}
/* .nav_routes span:nth-child(2) {
  left: 3.25rem;
} */

.wallet {
  margin-left: auto;
  /* margin-top: 1rem; */
}
.LandBanner img {
  height: 87.9vh;

  width: -webkit-fill-available;
}

@font-face {
  font-family: Cool;
  src: url("../assets/coolvetica\ rg.otf");
}
@font-face {
  font-family: CoolCond;
  src: url("../assets/coolvetica\ condensed\ rg.otf");
}

/*Gallery*/
.filter input {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  font-family: Cool;
  background: none;
  color: #ffd37e;
}
.filter h1 {
  color: #ffd37e;
  font-family: Cool;
  font-size: 40px;
  margin-top: 5rem;
}
.searchToken {
  border-bottom: 1px solid #ffd37e;
  width: fit-content;
  margin-top: -1rem;
}
.filter input::placeholder {
  color: #ffd37e99;
}
.genesis_header {
  display: flex;
}

.gal_back {
  background-color: #0f1333;
}
.gal_wrap {
  display: flex;

  margin-top: -3rem;
}
.Char_Wrap{
  display: flex;
  filter: blur(6px);
  padding: 1rem 0rem;
}
.walletBtn {
  background: rgba(61, 65, 97, 0.6);
  border: none;
  border-radius: 8px;
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  font-family: Cool;
  cursor: pointer;
  margin-top: 5rem;
  margin-left: -6rem;
  padding-bottom: 1.2rem;
  padding-right: 0.5rem;
}
.CharRowOne .charCont {
  padding: 0rem 1.8rem;
}
.walletBtn img,
.randomBtn img {
  position: relative;
  bottom: -0.2rem;
  left: -1rem;
}
.randomBtn {
  background: rgba(61, 65, 97, 0.6);
  border: none;
  border-radius: 8px;
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  font-family: Cool;
  cursor: pointer;
  padding-bottom: 1.2rem;
  padding-right: 0.5rem;
  margin-top: 2rem;
}
#back {
  margin-top: 3rem;
}
.filter p {
  color: #ffffff;
  font-size: 20px;
  margin-top: 1rem;
  font-family: Cool;
}

.Background {
  display: flex;
  width: 100%;
  padding: 0rem 0rem;
  border-top: 1px solid #ffd37e;
  opacity: 0.4;
}
#access {
  border-bottom: 1px solid #ffd37e;
}
.backImg {
  margin-left: auto;
}
.backImg img {
  margin-top: 1.7rem;
}
.filter {
  padding: 0rem 2rem;
}
.genesis_header h1 {
  margin-top: 5rem;
  font-family: Cool;
  color: #ffffff;
  letter-spacing: 2px;
}
.genesis_header span {
  color: gray;
}
.Characters{
  overflow-y: scroll;
  height: 100vh;
}
.CharRowOne {
  padding: 2rem 0rem;
  display: flex;
}
.charCont p {
  color: #ffd37e99;
}
.charCont {
  font-family: "IBM Plex Mono", monospace;
}
.charCont img{
  height: 180px;
  width: 180px;
}
.selection {
  padding: 0.8rem 2.7rem;
  width: fit-content;
  /* margin: auto; */
  background: #3d416199;
  border-radius: 8px;
}
.selection span {
  color: white;
  padding-left: 1rem;
}
.gallery_comming h1 {
  /* margin-top: 5rem; */
  /* text-align: end; */
  /* font-family: 'Chinese Dragon'; */
  font-family: Chinese dragon;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  /* padding-left: 24rem; */
  letter-spacing: 0.075em;
  color: #ffd37e;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 2rem;

}
.gallery_comming {
  padding: 1rem 1rem;
  
  margin-left: 25rem;

  background: url('../assets/ComeBack.png');
  background-repeat: no-repeat;
  position: relative;
    top: -48rem;
}
/* .gallery_comming img {
  height: 10rem;
  width: 60%;
  position: relative;
  top: -56rem; */
  /* left: 12rem; */
/* } */
/* DEFEAT PAGE */
.defeat_header {
  background: #0f1333;
  text-align: center;
}
.defeatCat {
  background: #0f1333;
  /* display: grid; */
}
.defeat_header h1,
.super_head h1 {
  /* font-family: 'Coolvetica'; */
  font-family: Cool;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 40px;

  letter-spacing: 0.075em;
  color: #ffd37e;
}
.defeat_header p {
  /* font-family: 'Clash Grotesk'; */
  font-family: "Clash Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-top: -1rem;
  font-weight: 700;
}
.defeat_assent {
  /* background: rgba(128, 130, 150, 0.21); */
  background: url("../assets/AssentBack.png");
  opacity: 0.7;
  /* border-radius: 8px; */
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.defeat_assent,
.defeat_supernova,
.defeat_impossible,
.defeat_tilt {
  padding: 0.2rem 0rem;
  min-height: 16vh;
}
.defeat_assent h1,
.defeat_supernova h1,
.defeat_tilt h1,
.defeat_impossible h1 {
  /* font-family: 'Coolvetica'; */
  font-family: Cool;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  color: #ffd37e;
  margin-top: 0rem;
}
.defeat_assent p,
.defeat_supernova p,
.defeat_tilt p,
.defeat_impossible p {
  /* font-family: 'Clash Grotesk'; */
  font-family: "Clash Grotesk", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 65px;
  color: #ffffff;
  margin-top: -2rem;
}
.defeat_supernova {
  background: url("../assets/SuperNovaBack.png");
  opacity: 0.7;
  /* border-radius: 8px; */
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.defeat_tilt {
  background: url("../assets/TiltBack.png");
  opacity: 0.7;
  /* border-radius: 8px; */
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.defeat_impossible {
  /* background: rgba(128, 130, 150, 0.21); */
  background: url("../assets/ImpossibleBack.png");
  opacity: 0.7;
  /* border-radius: 8px; */
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* METAMASK */
.META {
  background: #0f1333;
}
.metamask {
  border: 1px solid #ffd37e;
  width: 22rem;
  height: 3.5rem;
  background: #ffd37e;
  border-radius: 4px;
  margin: auto;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.metamask p {
  /* font-family: 'Coolvetica'; */
  font-family: Cool;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.metamask img {
  width: 36px;
  height: 34px;
  margin-right: 1rem;
}
/*Chart*/
.chart {
  display: flex;
  margin-bottom: 6rem;
}
.chart p {
  font-family: "Clash Grotesk", sans-serif;
  color: #ffffff;
  padding: 4rem 6rem;
  padding-right: 20rem;
  font-size: 16px;
  line-height: 20px;
}
.bars {
  padding: 7rem 6rem;
}
.chart h1 {
  color: #ffd37e;
  font-family: Cool;
  padding: 0rem 6rem;
}
.Chartblur {
  padding: 0rem 12rem;
  width: 20rem;
}
.BarBlur {
  width: 26rem;
}
#aboveChart {
  padding: 1rem 11.7rem;
  position: relative;
  top: -12rem;
  width: 18rem;
  left: 1rem;
}
#aboveBar {
  position: relative;
  top: -13rem;
  left: 0.5rem;
}
/*Purpose*/

/* SUPERNOVA */
#Model {
  width: 100rem;
  height: 30rem;
}
#ModelAlt {
  width: 150rem;
  height: 30rem;
}
.super_head {
  text-align: center;
}
.superNova {
  display: flex;
  background: url("../assets/SupernovaModelBack.png");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 5rem;
  padding-right: 10rem;
  min-height: 100vh;
}

.supernova_content h1 {
  /* font-family: 'Coolvetica'; */
  font-family: Cool;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #ffd37e;
  padding-top: 6rem;
  padding-bottom: 3rem;
}
.supernova_content p {
  font-family: "Clash Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-right: 15rem;
}
.cross {
  position: relative;
  top: -5.5rem;
}

.Assent {
  display: flex;
  background: url("../assets/assentbackmodel.png");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 5rem;
  padding-right: 10rem;
  height: 100vh;
}
.Tilt {
  display: flex;
  background: url("../assets/tiltbackmodel.png");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 5rem;
  padding-right: 10rem;
  min-height: 100vh;
}
.Impossible {
  display: flex;
  background: url("../assets/ImpossibleModelBack.png");
  min-height: 90vh;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 5rem;
  padding-right: 10rem;
}
/*Staking*/
.reg,
.clan {
  width: 10rem;
}
.PrevRes{
  display: none;
}
.InfoHead {
  background: url("../assets/InfoBar.png");
  background-repeat: no-repeat;
  background-size: contain;
}
/*StakeFoot*/
footer {
  padding: 0rem 0rem;
  border: 6px solid black;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 8rem;
  margin-bottom: 6rem;
}
.StakeFoot {
  display: flex;
  background-color: #1f1d19;
  padding: 1rem 2rem;
  padding-bottom: 0rem;
}
.space,
.esc,
.info,
.Play {
  display: flex;
}
.StakeFoot p {
  color: #e2cba6;
  color: #e2cba6;
  margin-top: 0.5rem;
  /* padding: 0rem 1rem; */
  padding-left: 0.5rem;
  padding-right: 3rem;
  font-family: CoolCond;
}
.StakeFoot button {
  color: #ffd37e;
  background-color: #1f1d19;
  border: 1px solid #ffd37e;
  font-family: CoolCond;
  border-radius: 3px;
  font-weight: 100;
}
.StakeFoot button {
  padding: 0rem 0.8rem;
  height: 2rem;
  font-size: 15px;
}
.Play p {
  font-family: Cool;
  color: #ffd66c;
}
.Play img {
  height: 2rem;
  padding-right: 0.5rem;
}
.Play {
  margin-left: auto;
}
.CommingSoon {
  text-align: center;
}
.CommingSoon img {
  height: 90vh;
}
/*Team*/
.Team {
  padding: 3rem 3rem;
  display: flex;
  justify-content: center;
}
.Discord{
  width: 2rem;
  padding: 0rem 0rem;
  margin-bottom: 0rem;
  padding-left: 1rem;
}
.CommLink{
  margin-bottom: 0.8rem;
  margin-left: 0.6rem;
}
.CommMail{
  margin-bottom: 0.8rem;
}
.PrSocials{
  margin-left: 5rem;
}
.PMSocials{
  margin-left: 4rem;
}
.Discord_CIO{
  margin-bottom: -0.35rem;
  padding-left: 1rem;
  width: 1.8rem;
}
#Socio_CIO{
  margin-right: -2rem;
}
.CIOMail{
  margin-bottom: 0.5rem;
}
.Marvin_mail{
  padding-bottom: 0.8rem;
}

.team_cont {
  display: flex;
  margin-top: -2rem;
}
.MemberOne {
  background: rgba(255, 255, 255, 0.038);
}
.socials {
  margin-top: auto;
  padding-left: 0.8rem;
}
.socials img {
  padding: 0.8rem 0.8rem;
}
.team_pic img {
  margin-left: 6rem;
  width: 12.5rem;
}
.team_head {
  padding: 0rem 1.5rem;
}
.team_head h1 {
  color: #ffd37e;
  font-family: Cool;
  font-size: 24px;
  font-weight: 100;
}
.team_head h2 {
  font-family: Cool;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.MemberOne {
  border: 1px solid #ffd37e;
  border-radius: 8px;
  width: fit-content;
  background: url("../assets//Black\ bg.png");
  width: 400px;
}
.socialsHandles {
  margin-top: auto;
  padding-left: 8rem;
}
.socialsHandles img {
  padding: 0.8rem 0.8rem;
}
.team_container {
  display: flex;
  /* margin-top: 4rem; */
}
.socialsHandles h2 {
  margin-left: 2.7rem;
  color: #ffffff;
  font-family: Cool;
}
.MemberTwo {
  border: 1px solid #ffd37e;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  background: rgba(255, 255, 255, 0.038);
  /* margin-top: auto; */
  margin-left: 0rem;
  margin-bottom: 8rem;
  background: url("../assets//Black\ bg.png");
}
.twitter {
  margin-left: 7rem;
}
.socialsHandles h2 {
  margin-right: 0rem;
  padding: 1rem 1rem;
  font-size: 15px;
}
#Kate {
  margin-left: 0rem;
}
.team_picture img {
  width: 6rem;
  margin-top: 1.5rem;
}
.TeamSetThree {
  padding-left: 2rem;
}
.TeamSetTwo {
  margin-left: 3rem;
}
#Mary {
  margin-top: 3.4rem;
}
.TeamSetThree .MemberTwo {
  margin-bottom: 1rem;
}
#Marvin {
  /* margin-left: 0rem; */
  margin-bottom: 3.4rem;
}
#pr {
  padding-left: 7rem;
}
#pm {
  padding-left: 5rem;
}
#cio {
  padding-left: 11rem;
}
.Cross {
  background: white;
  height: fit-content;
  padding: 0.5rem 0.8rem;
  border-radius: 50%;
  color: #0f1333;
  font-weight: bolder;
  margin-top: -4.5rem;
  font-family: Cool;
  cursor: pointer;
}
.crossPopup {
  float: right;
}
.DefeatWrap {
  height: 100vh;
}
.popup-content{
  background: #0D0D11 !important;
  border: 1px solid #FFD37E !important;
  border-radius: 8px;
}

/*Purpose*/
.pur_banner {
  text-align: center;
}
.pur_banner img {
  width: 40%;
  height: 40%;
  margin-top: 4%;
}
.pur_stats {
  border: 1px solid #ffd37e;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  width: fit-content;
  border-radius: 20px;
  color: white;
  font-family: Cool;
  margin-top: -10rem;
}
.pur_stats div {
  padding: 0.5rem 1.5rem;
}
.pur_wrap {
  display: flex;
  margin-top: -11rem;
  margin-left: auto;
  justify-content: flex-end;
  /* margin-right: auto; */
  padding-right: 5rem;
}
.Banner_logo {
  padding-right: 14rem;
}
.stats_pos {
  position: relative;
  left: 0.5rem;
  top: -0.8rem;
}
/* 
[role=tooltip].popup-content {
    width: 29rem !important;
    height: 32rem !important;
}
.popup-overlay {
    background: rgba(0,0,0,.5) !important;
}
.crosspop{
    width: 1rem;
    position: relative;
    left: 20rem;
    top: 1rem;
} */

.modal {
  font-size: 12px;
}
.content input, .content textarea{
  background: #0D0D11 ;
  border: 1px solid #FFD37E !important;
  outline: none;
}
.content textarea{
  width: 100%;
  height: 192px;
  border-radius: 8px;
  padding: 0.5rem;
  font-family: Cool;
  margin-top: -1.5rem;
}
.modal > .header {
  width: 100%;
  font-size: 50px;
  text-align: center;
  padding: 5px;
  color: #FFD66C;
  font-family: Cool;
}
.PopBtn{
  font-size: 13px;
  background: #FFD37E;
  border: none;
  outline: none;
  color: #000000;
  border-radius: 8px;
  padding: 1rem 3rem;
  cursor: pointer;
  font-weight: bolder;
}
.modal > .content {
  width: 80%;
  margin-bottom: -4rem;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
}
.content > input:first-child {
  width: 100%;
  height: 2rem;
  border: 2px solid #ffd37e;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 15px;
  font-family: Cool;
}

.content > input:nth-child(2) {
  width: 100%;
  height: 2rem;
  border: 2px solid #ffd37e;
  border-radius: 8px;
  padding: 0.5rem;
  height: 20vh;
  font-size: 15px;
  font-family: Cool;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
@media (min-width: 2560px) and (min-height: 1600px) {
  .defeat_assent,
  .defeat_supernova,
  .defeat_impossible,
  .defeat_tilt {
    padding: 7.35rem 0rem;
  }
  .gallery_comming img {
    height: 50rem;
    width: 120rem;
} 
}

@media(max-width:991px){
  body{
    overflow-x: hidden;
    overflow-y: auto;
  }
  .Landing{
    background: url('../assets/banner_Res.png');
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
  }
  .hamburger{
    display: initial;
    margin-left: -4.5rem;
    
  }
  .spark{
    display: none;
  }
  .nav_routes li{
    display: none;
  }
  .nav_routes span{
    display: none;
  }
  .SoonStake, .SoonMarket{
    display: none;
  }
  .Navbar{
    padding: 1rem 1rem;
    padding-top: 1rem;
  }
  /* .nav_routes img{
    display: none;
  } */
  #first_assent{
margin-top: 4rem;
  }
  .defeatCat{
    width: 110%;
  }
  .logo img{
    width: 5.5rem;
    height: 2.5rem;
  }
  .MemberOne{
    width: 18rem;
margin-bottom: 0rem;
    margin-top: 1rem;
  }
  .TeamSetThree .MemberTwo {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 18rem;
    height: 11.5rem;
    margin-left: 0rem;
}
.socials img {
  padding: 0.8rem 0.5rem;
}
#pr h2{
  margin-left: 1.5rem;
}
#Socio_CIO {
  margin-right: -2.3rem;
}
#Marvin .socials{
  
  margin-left: -0.1rem;
}
.socialsHandles {
  margin-top: auto;
  padding-left: 0rem;
}
#prcom{
  padding: 1rem 0rem;
}
#pr{
  padding-left: 0rem;
}
.TeamSetThree {
  padding-left: 0rem;
}
  .wallet img{
    height: 2rem;
    margin-left: 0rem;
    margin-right: -0.6rem;
}
.metamask{
    width: 18rem;
    margin-top: 10rem;
}
.metamask p{
  font-size: 14px;
}
.navBox{
  box-shadow: none;
}
.Team{
  display: block;
  padding: 3rem 1rem;
  overflow-x: hidden;
}
.socialsHandles h2{
  margin-right: -2rem;
}
.MemberTwo{
  width: 292px;
  margin-left: 0.3rem;
}
#Mary {
  margin-top: 1rem;
}
.TeamSetTwo{
  margin-left: 0rem;
}
#Marvin{
  margin: 0rem;
  margin-top: 1rem;
  
}
.team_pic img {
  margin-left: 4rem;
  width: 8.5rem;
  height: 9rem;
  margin-top: 3.5rem;
}
.CommingSoon{
  overflow-x: hidden;
}
.res_routes{
  color: white;
    margin-left: -6rem;
   
    margin-bottom: -8rem !important;
    position: relative;
    left: 2rem;
    top: 1rem;
    background-color: #000000;
}
.res_routes p{
  border-bottom: 2px solid #FFD37E;
  text-align: initial;
  padding: 0.5rem 1.6rem;
  padding-right: 12rem;
}
#wall_res{
  margin-left: -3rem;
}
.PrevRes{
  display: initial;
}
.Preview{
  display: none;
}
.CommingSoon img{
  
  height: 100%;
  width: 100%;
}
.navBox{
  overflow: hidden;
}
.befHam{
  padding: 0rem 7rem;
  padding-left: 7.8rem;
}
/*Integration*/
/* DEFEAT */
.defeat_header h1, .super_head h1 {
  font-size: 24px;
}   
.defeat_header p{
padding: 1rem 3rem;
}
.defeat_assent h1, .defeat_supernova h1, .defeat_tilt h1, .defeat_impossible h1 {
  font-size: 24px;
}
.defeat_assent p, .defeat_supernova p, .defeat_tilt p, .defeat_impossible p {
  font-size: 16px;
}
.chart{
display: block;
overflow-y: auto;
}
.chart p{
padding: 1rem 1rem;
/* text-align: center;
margin-left: -3rem; */
}
.Chartblur{
padding: 0 1.5rem;
width: 17rem;
}
#aboveChart {
padding: 0 1.5rem;
width: 16rem;
left: 0.5rem;
top: -10rem;
}
.bars{
padding: 0rem 1rem;
position: relative;
top: -22rem;
}
.Tokenomics_respon{
position: relative;
top: 19rem;

}
.BarBlur{
width: 18rem;
}
#aboveBar{
width: 17rem;
top: -9rem;
}
.pur_banner img{
width: 22rem;
margin-top: 2rem;
margin-left: -2rem;

}
.pur_stats{
  margin-bottom: 1rem;
}
.Banner_logo {
padding-right: 3rem;
}
.pur_wrap {
padding-right: 1rem;
margin-top: 10rem;
justify-content: center;
}
.DefeatWrap{
overflow-x: hidden;
}
body{
overflow-y: auto;
}
.Assent, .superNova,.Tilt,.Impossible{
  overflow-x: hidden;
  display: block;
  padding-left: 2rem;
    padding-right: 0rem;
}
.supernova_content p{
  padding-right: 0rem;
  padding-top: 33rem;
}
#Model{
  position: relative;
  top: -47rem;
  /* left: -42rem; */
  left: -40rem;
}
.supernova_content h1{
  padding-top: 0rem;
  text-align: center;
  font-size: 26px;
}
.Cross{
  /* position: relative;
    top: -84rem; */
    /* top: -91.5rem; */
    /* left: 13rem; */
    /* font-size: 13px; */
    /* padding: 0.1rem 0.4rem; */


    padding: 0.1rem 0.4rem;
    position: absolute;
    left: 19rem;
    top: 15.5rem;
}
.cross1{
  /* position: relative; */
    /* top: -84rem; */
    /* top: -91.5rem; */
    /* left: 13rem; */
    /* font-size: 13px; */
    /* padding: 0.1rem 0.4rem; */

    padding: 0.1rem 0.4rem;
    position: absolute;
    left: 19rem;
    top: 15.5rem;
}
#ModelAlt{
    position: relative;
    top: -52rem;
    left: -64rem;
}
}
